body{
    background-color:  #393E46;
}

.container{
    margin: auto;
    text-align: center;
    width: 70%;
}

.dice{
    
    
    display: inline-block;
    text-align: center
}

img{
    width: 80%;
}

h1{
    margin: 30px;
    font-family: 'Lobster',cursive;
    font-size: 8rem;
    color: #4ECCA3;

}

p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
  }